.app{
  padding: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

th {
  cursor: pointer;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table__action-btn{
  cursor: pointer;
  color: blue;
  margin: 0 5px;
}

.player-form{
  padding: 10px 0 ;
}

.player-form__label{
  display: block;
  margin-bottom: 8px;
}
.player-form__label-text{
  display: inline-block;
  width: 100px;
}

.player-form__submit{
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #f4f4f4;
  outline: none;
  text-transform: uppercase;
}
